.AudioScrubber {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.AudioScrubberTime {
  background-color: #303f9f;
  padding: 2px 4px;
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.AudioScrubberProgress {
  flex: 1;
  margin: 0 20px;
  height: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.AudioScrubberKnob {
  position: relative;
  height: 40px;
  width: 6px;
  background-color: #303f9f;
}

@media screen and (max-width: 768px) {
  .AudioScrubberProgress {
    margin: 0 10px;
    height: 10px;
  }
  
  .AudioScrubberKnob {
    width: 10px;
  }
}