.PromptWrapper {
  text-align: left;
  margin-bottom: 32px;
}

.PromptOptionGroup {
  margin-bottom: 13px;
  justify-content: left;
}

.PromptOption {
  border: solid 1px #303030;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  height: 60px;
  max-width: 60px;
  width: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.PromptOptionVal {
  float: left;
}

.PromptOption:nth-child(n + 2) {
  margin-left: -1px;
}

.PromptOption:hover {
  background-color: lightgrey;
}

.PromptOption_Selected {
  background-color: #303f9f;
  color: #ffffff;
}

.PromptOption_Submittted {
  background-color: lightgrey;
  border: solid 1px grey;
  cursor: unset;
  height: 40px;
  max-width: 40px;
}

.PromptOption_Submittted:hover {
  background-color: lightgrey;
}
