.Header {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9DEE7;
}

.Header * {
  display: inline;
}

.Header li {
  margin: 20px;
}

.Header li a {
  color: black;
  text-decoration: none;
}