.Header {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9DEE7;
}

.Header * {
  display: inline;
}

.Header li {
  margin: 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color .36s ease-in;
}

.Header li:hover {
  border-bottom: 2px solid #7D7D7D;
}

.Header li a {
  color: black;
  text-decoration: none;
}